<paNavBar></paNavBar>
<div style="width: 100%; background-color: white;" class="border pl-3 pr-3 container-fluid">
<p class="lead">{{ 'artworks.para' | translate }}</p>
<div *ngIf="isLoggedIn()" class="form-group">

    <ul ngbNav #nav="ngbNav" class="nav-pills">
        <li ngbNavItem>
            <a ngbNavLink (click)="recaluateNameListsArchive(); ; artworkAddedAlert=''"><strong>{{ 'artworks.tab.my_artworks' | translate }}</strong></a>
            <ng-template ngbNavContent>
                <div class="row pt-2">
                    <div class=" col-12">
                        <input type="text" class="form-control" id="collection-search-text" aria-describedby="collection-search-text" 
                        [(ngModel)]="searchCollectionText" placeholder="{{ 'artworks.search_my' | translate }}" (change)="recaluateNameLists()">
                    </div>
                </div>
                <div class="row itemsBlock pt-2">
                    <div class="col-md-4 col-sm-6 col-12 pb-3">
                        <div class="ng-autocomplete" style="width: 100%;">
                            <ng-autocomplete
                            [data]="artistStartList"
                            [searchKeyword]="keywordArtist"
                            placeholder="{{ 'artworks.artist' | translate }}"
                            [(ngModel)]="artistField"
                            (selected)="selectEventArtist($event)"
                            (inputCleared)="inputClearedArtist($event)"
                            (inputChanged)="onChangeSearchArtist($event)"
                            (inputFocused)="onFocusedArtist($event)"
                            [itemTemplate]="itemTemplatez"
                            [notFoundTemplate]="notFoundTemplatez"
                            >
                            </ng-autocomplete>
                        
                            <ng-template #itemTemplatez let-item>
                            <a [innerHTML]="item.text"></a>
                            </ng-template>
                        
                            <ng-template #notFoundTemplatez let-notFound>
                            <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 pb-3">
                        <div class="ng-autocomplete" style="width: 100%;">
                            <ng-autocomplete
                            [data]="artworkStartList"
                            [searchKeyword]="keywordArtwork"
                            placeholder="{{ 'artworks.artwork' | translate }}"
                            [(ngModel)]="artworkField"
                            (selected)="selectEventArtwork($event)"
                            (inputCleared)="inputClearedArtwork($event)"
                            (inputChanged)="onChangeSearchArtwork($event)"
                            (inputFocused)="onFocusedArtwork($event)"
                            [itemTemplate]="itemTemplatey"
                            [notFoundTemplate]="notFoundTemplatey"
                            >
                            </ng-autocomplete>
                        
                            <ng-template #itemTemplatey let-item>
                            <a [innerHTML]="item.text"></a>
                            </ng-template>
                        
                            <ng-template #notFoundTemplatey let-notFound>
                            <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 pb-3">
                        <div class="ng-autocomplete" style="width: 100%;">
                            <ng-autocomplete
                            [data]="yearStartList"
                            [searchKeyword]="keywordYear"
                            placeholder="{{ 'artworks.year' | translate }}"
                            [(ngModel)]="yearField"
                            (selected)="selectEventYear($event)"
                            (inputCleared)="inputClearedYear($event)"
                            (inputChanged)="onChangeSearchYear($event)"
                            (inputFocused)="onFocusedYear($event)"
                            [itemTemplate]="itemTemplatex"
                            [notFoundTemplate]="notFoundTemplatex"
                            >
                            </ng-autocomplete>
                        
                            <ng-template #itemTemplatex let-item>
                            <a [innerHTML]="item.text"></a>
                            </ng-template>
                        
                            <ng-template #notFoundTemplatex let-notFound>
                            <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <span *ngIf="filteredResults().length <= searchCollectionDisplayLimit" class="fs-6">{{filteredResults().length}} {{ 'artworks.items_shown' | translate }}</span>
                <span *ngIf="filteredResults().length > searchCollectionDisplayLimit" class="fs-6">{{searchCollectionDisplayLimit}} {{ 'artworks.of' | translate }} {{filteredResults().length}} {{ 'artworks.items_shown' | translate }}</span>
                <div class="row itemsBlock pt-2">
                    <div *ngFor="let item of filteredResults() | slice:0:searchCollectionDisplayLimit; let i = index" class="col-md-4 col-sm-6 col-12 pb-3">
                        <div class="row pb-3">
                            <div class="col-12">
                                <img src="{{item.url}}" alt="{{item.name}}" height="auto" style="width:100%" (error)="handleMissingImage($event)">
                            </div>
                            <div class="col-12 ms-1">
                                <div class="col-12 ms-2">
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="item.name"></div>
                                    <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="item.artist"></div></strong>
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;">{{item.year}}</div>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="deleteConfirmation_Id!=item._id">
                                <button class="float-end btn btn-danger"  (click)="confirmDelete(item._id)">{{ 'artworks.button.delete' | translate }}</button>
                            </div>
                    
                            <span *ngIf="deleteConfirmation_Id==item._id">
                                <div class="alert alert-danger" role="alert"><strong>{{ 'artworks.are_you_sure' | translate }}</strong>
                                <span *ngIf="getScriptsOfAnArtwork(item._id).length > 0">
                                    <p><strong>{{ 'artworks.it_will_be' | translate }}</strong></p>
                                </span>
                                <ul *ngIf="getScriptsOfAnArtwork(item._id).length > 0">
                                    <li *ngFor="let artworkscript of getScriptsOfAnArtwork(item._id);">{{artworkscript.name}}</li>
                                </ul>
                                <!-- <ul *ngFor="let artworkscript of getScriptsOfAnArtwork(item._id);">
                                    <li>{{artworkscript.name}}</li>
                                </ul> -->
                                <div class="text-end">
                                    <button class="btn btn-secondary" (click)="deleteConfirmation_Id=''">{{ 'artworks.button.cancel' | translate }}</button><button class="btn btn-danger ms-2" (click)="deleteArtwork(item._id)">{{ 'artworks.button.ok' | translate }}</button></div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row pr-3 pl-3 pb-3" *ngIf="filteredResults().length > searchCollectionDisplayLimit">
                    <button class="btn btn-secondary" (click)="searchCollectionDisplayLimit = searchCollectionDisplayLimit+6">{{ 'artworks.button.more_results' | translate }}</button>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink (click)="recaluateNameListsArchive(); artworkAddedAlert=''"><strong>{{ 'artworks.tab.whole_collection' | translate }}</strong></a>
            <ng-template ngbNavContent>
                <div class="row mt-2">
                    <div class=" col-12">
                        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
                        [(ngModel)]="searchText" placeholder="{{ 'artworks.search_whole' | translate }}">
                    </div>
                </div>
                <div class="row itemsBlock pt-2">
                    <div class="col-md-4 col-sm-6 col-12 pb-3">
                        <div class="ng-autocomplete" style="width: 100%;">
                            <ng-autocomplete
                            [data]="artistStartListArchive"
                            [searchKeyword]="keywordArtistArchive"
                            placeholder="{{ 'artworks.artist' | translate }}"
                            [(ngModel)]="artistArchiveField"
                            (selected)="selectEventArtistArchive($event)"
                            (inputCleared)="inputClearedArtistArchive($event)"
                            (inputChanged)="onChangeSearchArtistArchive($event)"
                            (inputFocused)="onFocusedArtistArchive($event)"
                            [itemTemplate]="itemTemplatet"
                            [notFoundTemplate]="notFoundTemplatet"
                            >
                            </ng-autocomplete>
                        
                            <ng-template #itemTemplatet let-item>
                            <a [innerHTML]="item.text"></a>
                            </ng-template>
                        
                            <ng-template #notFoundTemplatet let-notFound>
                            <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 pb-3">
                        <div class="ng-autocomplete" style="width: 100%;">
                            <ng-autocomplete
                            [data]="artworkStartListArchive"
                            [searchKeyword]="keywordArtworkArchive"
                            placeholder="{{ 'artworks.artwork' | translate }}"
                            [(ngModel)]="artworkArchiveField"
                            (selected)="selectEventArtworkArchive($event)"
                            (inputCleared)="inputClearedArtworkArchive($event)"
                            (inputChanged)="onChangeSearchArtworkArchive($event)"
                            (inputFocused)="onFocusedArtworkArchive($event)"
                            [itemTemplate]="itemTemplates"
                            [notFoundTemplate]="notFoundTemplates"
                            >
                            </ng-autocomplete>
                        
                            <ng-template #itemTemplates let-item>
                            <a [innerHTML]="item.text"></a>
                            </ng-template>
                        
                            <ng-template #notFoundTemplates let-notFound>
                            <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 pb-3">
                        <div class="ng-autocomplete" style="width: 100%;">
                            <ng-autocomplete
                            [data]="yearStartListArchive"
                            [searchKeyword]="keywordYearArchive"
                            placeholder="{{ 'artworks.year' | translate }}"
                            [(ngModel)]="yearArchiveField"
                            (selected)="selectEventYearArchive($event)"
                            (inputCleared)="inputClearedYearArchive($event)"
                            (inputChanged)="onChangeSearchYearArchive($event)"
                            (inputFocused)="onFocusedYearArchive($event)"
                            [itemTemplate]="itemTemplater"
                            [notFoundTemplate]="notFoundTemplater"
                            >
                            </ng-autocomplete>
                        
                            <ng-template #itemTemplater let-item>
                            <a [innerHTML]="item.text"></a>
                            </ng-template>
                        
                            <ng-template #notFoundTemplater let-notFound>
                            <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div *ngIf="!getCollection().length">Loading archive...</div>
                <span *ngIf="filteredResultsArchive().length <= searchDisplayLimit" class="fs-6">{{filteredResultsArchive().length}} {{ 'artworks.items_shown' | translate }}</span>
                <span *ngIf="filteredResultsArchive().length > searchDisplayLimit" class="fs-6">{{searchDisplayLimit}} {{ 'artworks.of' | translate }} {{filteredResultsArchive().length}} {{ 'artworks.items_shown' | translate }}</span>

                <div class="row itemsBlock pt-2">
                    <div *ngFor="let item of filteredResultsArchive() | slice:0:searchDisplayLimit ; let i = index" class="col-md-4 col-sm-6 col-12 pb-3">
                        <div class="row pb-3">
                            <div class="col-12">
                                <img src="{{item.filelocation}}" alt="{{item.name}}" height="auto" style="width:100%" (error)="handleMissingImage($event)">
                            </div>
                            <div class="col-12 ms-1">
                                <div class="col-12 ms-2">
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="item.name"></div>
                                    <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="item.artist"></div></strong>
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="item.year"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div *ngIf="artworkAddedAlert==item.filelocation" class="col-12 alert alert-success" role="alert">
                                    {{ 'artworks.artwork_added' | translate }}
                                </div>
                                <button class="float-end btn btn-success" [disabled]="artworkAlreadyAdded(item.filelocation)" (click)="artworkAddedAlert=item.filelocation; saveArtworkFromParameters(item.name, item.artist, item.year , item.filelocation)" data-bs-toggle="modal" data-bs-target="#archiveModal">{{ 'artworks.button.add' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row pr-3 pl-3 pb-3" *ngIf="filteredResultsArchive().length > searchDisplayLimit">
                    <button class="btn btn-secondary" (click)="searchDisplayLimit = searchDisplayLimit+6">{{ 'artworks.button.more_results' | translate }}</button>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>


    

    <!-- <div class="row mb-3">
        <div class="ng-autocomplete" style="width: 100%;">
            <span><strong>{{configSettings.artworks_searchprompt}}</strong></span>
            <ng-autocomplete 
            [data]="data"
            [searchKeyword]="keyword"
            (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)'
            (inputFocused)='onFocused($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
            [placeholder]="placeholderText"
            [historyListMaxNumber]="15"
            [minQueryLength]="2">                                 
            </ng-autocomplete>
        
            <ng-template #itemTemplate let-item>
                <a href="javascript:void(0)">
                    <span [innerHTML]="item.searchstring"></span>
                </a>
            </ng-template>
            
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
    </div>

    <div *ngIf="selected" class="pb-3">
        <div class="row align-items-end">
            <div class="col-md-4 col-sm-6">
                <img src="{{selectedURL()}}" alt="{{selectedName()}}" height="auto" style="width:100%" (error)="handleMissingImage($event)">
            </div>
            <div class="col-sm ms-3">
                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="selectedName()"></div>
                <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="selectedArtist()"></div></strong>
                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="selectedYear()"></div>
            </div>

            <div class="col-sm">
                <button class="float-end btn btn-success" (click)="saveArtwork(); selected=false;">Add</button>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/> -->
</div>
</div>
<!-- <br/>
<br/>
<br/>
<br/> -->


