<paNavBar></paNavBar>
<div style="width: 100%; background-color: white;" class="border pl-3 pr-3 mb-3 container-fluid">
    <p class="lead">{{ 'collection.para' | translate }} </p>

    <ng-container *ngIf="!addNewArtwork">
        <div *ngIf="isAdmin()" class="form-group">
            <div *ngIf="!model.selectedCollectionArtworkId" class="col-xs-12">
                <button class="float-end btn btn-success" (click)="addCollectionArtwork(); deleteConfirmation_Id=null">{{ 'collection.button.new_collection_artwork' | translate }}</button><br/><br/>
            </div>
            <div *ngIf="!model.selectedCollectionArtworkId" class="row pt-2">
                <div class=" col-12">
                    <input type="text" class="form-control" id="collection-search-text" aria-describedby="collection-search-text" 
                    [(ngModel)]="searchCollectionText" placeholder="{{ 'collection.search' | translate }}">
                </div>
            </div>
        </div>
        <div class="row pb-2" *ngIf="!model.selectedCollectionArtworkId">
            <span class="fs-6" *ngIf="filteredResults().length <= searchCollectionDisplayLimit">{{filteredResults().length}} {{ 'collection.items_shown' | translate }}</span>
            <span class="fs-6" *ngIf="filteredResults().length > searchCollectionDisplayLimit" class="fs-6">{{(filteredResults() | slice:0:searchCollectionDisplayLimit).length}} {{ 'collection.of' | translate }} {{filteredResults().length}} {{ 'collection.items_shown' | translate }}</span>
        </div>
        <ng-container *ngIf="!model.selectedCollectionArtworkId">
            <ng-container *ngFor="let collectionArtwork of filteredResults() | slice:0:searchCollectionDisplayLimit; let i = index; let last = last">
                <!-- view artwork -->
                <div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <img src="{{collectionArtwork.filelocation}}" alt="{{collectionArtwork.name}}" class="img-fluid" height="auto" width="100%" >
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="col-12">
                                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="collectionArtwork.name"></div>
                                <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="collectionArtwork.artist"></div></strong>
                                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="collectionArtwork.year"></div>
                                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2; margin-top: 1em;" [innerHTML]="collectionArtwork.description"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="deleteConfirmation_Id==collectionArtwork._id">
                        <div class="alert alert-danger" role="alert"><strong>{{ 'collection.are_you_sure' | translate }}</strong> <div><button class="btn btn-danger" (click)="deleteCollectionArtwork(collectionArtwork._id); deleteConfirmation_Id=null">{{ 'collection.button.ok' | translate }}</button> <button class="btn btn-secondary ms-2" (click)="deleteConfirmation_Id=null">{{ 'collection.button.cancel' | translate }}</button></div></div>
                    </div>
                    <div class="row mt-1" *ngIf="deleteConfirmation_Id!=collectionArtwork._id">
                        <div class="container">
                            <button (click)="setSelectedCollectionArtwork(collectionArtwork); deleteConfirmation_Id=null;" class="float-end btn btn-warning">{{ 'collection.button.edit' | translate }}</button>
                            <button (click)="deleteConfirmation_Id=collectionArtwork._id" class="float-end me-3 btn btn-danger">{{ 'collection.button.delete' | translate }}</button>
                        </div>
                    </div>
                    <div *ngIf="!last" class="row">
                        <div class="container">
                            <hr>
                        </div>
                    </div>
                    <div *ngIf="last" class="row">
                        <div class="container">
                            <hr style="color: white;">
                        </div>
                    </div>
                </div>
                <!-- edit artwork -->
            </ng-container>
        </ng-container>
        <div *ngIf="model.selectedCollectionArtworkId">
            <div>
                <strong>{{ 'collection.name' | translate }}: </strong><textarea rows="1" class="form-control" [(ngModel)]="model.selectedCollectionArtwork.name"></textarea>
                <strong>{{ 'collection.artist' | translate }}: </strong><textarea rows="1" class="form-control" [(ngModel)]="model.selectedCollectionArtwork.artist"></textarea>
                <strong>{{ 'collection.year' | translate }}: </strong><textarea rows="1" class="form-control" [(ngModel)]="model.selectedCollectionArtwork.year"></textarea>
                <strong>{{ 'collection.url' | translate }}: </strong><textarea rows="1" class="form-control" [(ngModel)]="model.selectedCollectionArtwork.filelocation"></textarea>
                <strong>{{ 'collection.description' | translate }}: </strong><textarea rows="10" class="form-control" [(ngModel)]="model.selectedCollectionArtwork.description"></textarea>
            </div>
            <div class="mt-1 mb-5">
                <button (click)="saveCollectionArtwork(model.selectedCollectionArtwork); unsetSelectedCollectionArtwork();" class="float-end btn btn-warning">{{ 'collection.button.save' | translate }}</button>
            </div>
        </div>
        <div class="row pr-2 pl-2 pb-3" *ngIf="!model.selectedCollectionArtworkId && filteredResults().length > searchCollectionDisplayLimit">
            <button class="btn btn-secondary" (click)="searchCollectionDisplayLimit = searchCollectionDisplayLimit+6">{{ 'collection.button.more_results' | translate }}</button>
        </div>
    </ng-container>
    <ng-container *ngIf="addNewArtwork">
        <div>
            <strong>{{ 'collection.name' | translate }}: </strong><textarea rows="1" class="form-control" [(ngModel)]="newArtwork.name"></textarea>
            <strong>{{ 'collection.artist' | translate }}: </strong><textarea rows="1" class="form-control" [(ngModel)]="newArtwork.artist"></textarea>
            <strong>{{ 'collection.year' | translate }}: </strong><textarea rows="1" class="form-control" [(ngModel)]="newArtwork.year"></textarea>
            <strong>{{ 'collection.url' | translate }}: </strong><textarea rows="1" class="form-control" [(ngModel)]="newArtwork.filelocation"></textarea>
            <strong>{{ 'collection.description' | translate }}: </strong><textarea rows="10" class="form-control" [(ngModel)]="newArtwork.description"></textarea>
        </div>
        <div class="mt-1 mb-5">
            <button (click)="saveCollectionArtwork(newArtwork); resetNewArtwork(); unsetSelectedCollectionArtwork()" class="float-end btn btn-warning">{{ 'collection.button.save' | translate }}</button>
            <button (click)="resetNewArtwork()" class="float-end btn btn-secondary me-3">{{ 'collection.button.cancel' | translate }}</button>
        </div>
    </ng-container>
</div>
<br/>
<br/>